@model LoginDto

@{
	Layout = null;
}

<style>
	.stylish-btn {
		padding: 12px 24px;
		border-radius: 12px;
		font-weight: 600;
		font-size: 16px;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}

		.stylish-btn:hover {
			background-color: #1f1f1f;
			transform: translateY(-2px);
			box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
		}</style>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SignalR Restoran Giriş Sayfası</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/Sauce1.jpg" alt="form" style="width:484px; height:584px">
			</div>
			<form class="form-detail" method="post">
				<h2>Giriş Formu</h2>
				<div class="form-row">
					<input type="text" id="full-name" asp-for="Username" class="input-text" placeholder="Kullanıcı Adınız" required>
				</div>
				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Şifreniz" asp-for="Password" required>
				</div>

				<button class="btn btn-dark stylish-btn">Giriş Yap</button>

			</form>
		</div>
	</div>
</body>
</html>